.dub
.dlangidews.wssettings
docs.json
dub.selections.json
__dummy.html
docs/
jarena.so
jarena.dylib
jarena.dll
jarena.a
jarena.lib
jarena-test-*
jarena.*
*.exe
*.o
*.obj
*.lst
*.cg
trace.log
trace.def
trace.html
profilegc.log
**/bin/*.pdb
**/bin/*.exe.config
**/bin/Test.txt
**/bin/*.dll
**/bin/data/debug/
**/bin/*.log
**/obj/
dcd.log
ui.log
.vs
.vscode